main {
	min-height: 80vh;
}

body {
	padding-top: 5rem;
}

#nav-item {
	color: white;
}

#nav-item:hover {
	color: black;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: .5rem 0;
}

#username {
	color: white;
}

#username:hover {
	color: black;
}

.rating span {
	margin: .1rem;
}

#searchinput {
	width: 700px;
}

@media (max-width: 1500px) {
	#searchinput {
		width: 450px;
	}
}

@media (max-width: 1280px) {
	#searchinput {
		width: 200px;
	}
}
